html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(farthest-side at 40% 13%, rgba(228, 228, 228, 0.2) , rgba(197, 204, 204, 0.2) ), url(../img/Sports.png) fixed; /* Background pattern from Subtle Patterns */
    font-family: 'Baloo Chettan', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
}

/* 
 * Styeles for game board 
 */

#game-board {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 48px;
    width: 100%;
    max-width: 600px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 600px;
    min-height: 600px;
    background: radial-gradient(farthest-side at 40% 13%, #e4e4e4 , #8fbfc5 ); /*radial-gradient(farthest-corner at 60% 55%, #89c2b8 , #fff );*/
    padding: 18px 24px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}

.deck .card {
    height: 125px;
    width: 125px;
    background: url(../img/filet.png) #2a3552; /*credit: https://www.casalsport.com/img/W/CAS/ST/FB/20/16/FB2016/FB2016_ST.jpg*/
    background-size: cover;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #75a5ce;
    cursor: default;
    animation-timing-function: ease-in;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #50bbb5;
    font-size: 33px;
}

.deck .card.not-match {
    background: #d63e3e;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    margin: 0 5px 0 0;
    color: goldenrod;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#restart {
    float: right;
}

.pointer {
    cursor: pointer;
}

.pointer:hover .shortcuts{
    display: block;
}

/*Hide audio elements*/
audio {
    display: none;
}

.shortcuts {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #8fbfc5;
    border-radius: 5px;
    padding: 3px;
}

kbd {
    font-size: 1.3em;
}

#score-board {
    display: none;
    position: fixed;
    width: 50%;
    background: radial-gradient(farthest-side at 40% 13%, #e4e4e4 , #8fbfc5 );
    margin: auto;
    border-radius: 12px;
    border: 5px solid goldenrod;
    box-shadow: 5px 2px 20px 0 rgba(255, 255, 255, 0.5);
}

#score-board li{
    list-style: none;
    justify-items: center;
}

@media screen and (max-width: 450px) {
    .deck {
        width: 330px;
        min-height: 330px;
        padding: 18px 24px;
    }

    .deck .card {
        width: 60px;
        height: 60px;
    }
}