html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #87999973 0%, #bcd4d7 100%),url(../img/cubes.png) fixed; /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */



/* 
 * Styeles for game board 
 */

#game-board {
    display: flex;
    justify-content: space-between;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: radial-gradient(farthest-corner at 29% 26%, #fff , #475f5a ); /*radial-gradient(farthest-corner at 60% 55%, #89c2b8 , #fff );*/
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #16445d;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-timing-function: ease-in;
}

.deck .card.show {
    font-size: 48px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 48px;
}

.deck .card.not-match {
    background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: goldenrod;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#restart {
    float: right;
    cursor: pointer;
}


/*Hide audio elements*/
audio {
    display: none;
}
